/* 
 * Author : Alexander Perlock
 *  
 * Date Created : 20 03 26
 * Date Modified : 21 03 26
 * 
 * Scoreboard Page CSS
 */
@import url(./colour.css);

table {
    width: 100%;
    margin-bottom: 5%;
}

th {
    border-bottom: 2px solid white;
}

td, th {
    padding-left: 2%;
    padding-right: 2%;
    border-left: 1px solid white;
    border-right: 1px solid white;
    overflow-wrap: break-word;
}

td:first-child {
    text-align: left;
}

td:not(:first-child) {
    text-align: right;
}

th {
    text-align: center;
}